/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
:root {
  --test: #e62b1e;
  --font: #3f3f3f;
  --background: #fff;
  --footer: #0f0f0f;
  /*--nav-logo: url(./assets/TEDxSIESGST_without_bg_black-1.png);*/
  --main: #cbcbcbac;
  /* --mainbg: url(./assets/output-onlinepngtools.png); */
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  /* box-sizing: border-box; */
}

html,
body {
  overflow-x: hidden;
  background-color: var(--background);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  /* display: inline-block; */
  cursor: pointer;
}

img {
  width: 100%;
  display: inline-block;
}

button {
  border: none;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  background-image: url(/assets/TEDxSIESGST_without_bg_white-1.png);
  width: 250px;
  height: 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-top: 20px;
}

.nav-list {
  height: 60vh;
  padding-top: 24px;
  position: absolute;
  left: 0%;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
  background-color: var(--background);
  transition: top 1s ease;
}

.nav-link {
  font-size: 16px;
  color: #e62b1e;
}

.close-icon i {
  position: absolute;
  top: 24px;
  right: 24px;
}

.bx-x {
  font-size: 28px;
  color: #e62b1e;
}

.mobile {
  display: flex !important;
}

.nav-btn {
  display: none;
  padding: 10px 15px;
  border-radius: 5px;
  background: var(--test);
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
}

.nav-btn i {
  margin-left: 5px;
}

.nav-items-right {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 40px;
  cursor: pointer;
}

/*--------------------- HERO SECTION ------------------------*/

.main-section {
  background-image: url(./assets/Theme-reveal_Altering-arcs_02.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.main {
  background-color: var(--main);
  height: 100%;
  margin-top: -17px;
  width: 100%;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 490px;
}

.header {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  text-align: center;
  color: var(--font);
}

.header span {
  color: #e62b1e;
  /* text-decoration: underline wavy #bf807c; */
}

.btn-div {
  margin: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.btn-filled {
  padding: 10px 20px;
  background: #e62b1e;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.btn-filled i {
  margin-left: 5px;
}

.btn-watch {
  font-weight: 500;
  display: flex;
  align-items: center;
  color: var(--font);
}

.btn-watch i {
  color: #ffaba5;
  font-size: 21px;
  margin-right: 5px;
}

/*--------------------- THEME SECTION ------------------------*/

.title {
  text-align: center;
  color: #e62b1e;
  font-size: 25px;
  margin: 30px 0;
  font-weight: 700;
}

.theme-name {
  font-size: 20px;
  font-weight: 500;
  color: var(--font);
}

.theme-section img {
  width: 100px;
  margin: 10px 0;
  height: auto;
}

.theme-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--font);
}

/*--------------------- RESPONSIVE ------------------------*/

@media (min-width: 992px) {
  .nav-items-right {
    display: none;
  }

  .mobile {
    display: none !important;
  }

  .nav-list {
    align-items: center;
    display: flex;
    flex-direction: row;
    background: none;
    height: auto;
    position: static;
    justify-content: center;
    top: 0%;
    color: #fff;
    padding-top: 0;
    width: auto;
  }

  .nav-link {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0 5px;
    color: var(--font);
    transition: 0.33s ease;
  }

  .nav-link:hover {
    color: #e62b1e;
  }

  .nav-btn {
    display: flex;
  }

  .btn-div {
    flex-direction: row;
    margin: 40px 0;
  }

  .header {
    font-size: 48px;
    width: 650px;
  }

  .btn-filled {
    margin-bottom: 0;
    font-size: 20px;
  }

  .btn-watch {
    /* padding: 20px; */
    font-size: 20px;
  }

  .btn-watch i {
    font-size: 20px;
  }

  .title {
    font-size: 28px;
    margin: 40px 0;
  }

  .theme-name {
    font-size: 23px;
  }

  .theme-section img {
    width: 100px;
    margin: 10px 0;
    height: auto;
  }

  .theme-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1024px) {
  .nav-link {
    margin: 0 30px;
  }

  .btn-div {
    margin: 50px 0;
  }

  .header {
    font-size: 62px;
    width: 850px;
  }

  .btn-filled {
    font-size: 20px;
  }

  .btn-watch {
    margin-left: 50px;
    font-size: 20px;
  }

  .btn-watch i {
    font-size: 20px;
  }
}

.nav-btn:hover {
  background-color: #be271c;
  transition: 0.3s;
}

.btn-filled:hover {
  background-color: #be271c;
  transition: 0.3s;
}

footer {
  margin-top: 50px;
  padding: 30px 0 15px;
  width: 100% !important;
  background-color: var(--footer);
}

.about,
.connect {
  display: flex;
  flex-wrap: wrap;
}

.connect {
  margin-right: 7px;
}

.csvg {
  padding: 0 7px;
  fill: whitesmoke !important;
}

.csvg:hover {
  cursor: pointer;
  fill: #e62b1e !important;
}

.f1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 20px;
}

.p1 img {
  width: 15vw;
  padding-left: 10px;
}

.pt-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.p2 {
  display: flex;
  margin-right: 10px;
}

.p2 p:hover {
  cursor: pointer;
}

.rulers {
  height: 2px;
  background-color: #ffaba5;
  border: none;
}

.f-text {
  font-size: 16px;
  margin-top: 15px;
}

.p1 img {
  width: 222px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #e62b1e;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 24px;
  width: 50px;
}

.ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(28px);
}

@media (max-width: 375px) {
  .logo {
    width: 204px;
  }

  .main-nav {
    padding: 10px 6px;
  }
}

.card {
  /* width: 20vw; */
  /* height: 20vw; */
  padding: 15px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  margin: 20px 10px 0px 10px;
  background-color: #fff;
}

.card-con h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
  font-size: 30px;
  font-weight: 500px;
}

.card p {
  display: flex;
  align-items: center;
  color: rgb(95, 89, 89);
  margin-top: 15px;
  font-size: 18px;
  text-align: left;
}

.card p svg {
  margin-right: 5px;
}

.dia {
  border-radius: 10px;
  padding: 40px 30px;
  margin: auto;
  background-color: gainsboro;
  border: none;
}

.book {
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  /* border: 2px solid #000; */
  font-size: 18px;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.book:hover {
  color: red;
  transition: 0.3s ease;
}

.cflex {
  display: flex;
  flex-direction: row;
}

.close {
  display: flex;
  justify-content: flex-end;
  color: red;
  background: none;
  width: 100%;
  /* float: right;
  border: 2px solid #000;
  padding: 0.5%; */
  /* margin-top: 20px; */
  /* margin-right: 10px; */
}

.close svg {
  height: 50px;
  width: auto;
}

/* .card-con {
  width: 90%;
} */

@media (max-width: 768px) {
  .main {
    background-color: #000;
  }

  .dia {
    border-radius: 10px;
    padding: 10px 10px;
  }

  .card {
    padding: 10px;
    margin-top: 15px;
    border-radius: 20px;
  }

  .cflex {
    flex-direction: column;
  }

  .card-con h1 {
    font-size: 22px;
    margin: 10px;
  }

  .card-con p {
    font-size: 15px;
    /* margin: 5px; */
  }

  .book {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 10px 15px;
  }

  .close svg {
    height: 30px;
    width: auto;
  }
}
@media (max-width: 375px) {
  .main {
    background-color: #000;
  }

  .dia {
    border-radius: 10px;
    padding: 10px 10px;
  }

  .card {
    padding: 10px;
    margin-top: 15px;
    border-radius: 20px;
  }

  .cflex {
    flex-direction: column;
  }

  .card-con h1 {
    font-size: 20px;
    margin: 10px;
  }

  .card-con p {
    font-size: 12px;
    /* margin: 5px; */
  }

  .book {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 12px;
    padding: 10px 15px;
  }

  .close svg {
    height: 25px;
    width: auto;
  }
}
